[submodule "starter-service-server"]
	path = starter-service-server
	url = https://github.com/logeshdinahypto/starter-service-server.git
[submodule "starter-service-kotlin-client"]
	path = starter-service-kotlin-client
	url = https://github.com/logeshdinahypto/starter-service-kotlin-client.git
[submodule "starter-service-infrastructure"]
	path = starter-service-infrastructure
	url = https://github.com/logeshdinahypto/starter-service-infrastructure.git
