[submodule "bar-service-kotlin-server"]
	path = bar-service-kotlin-server
	url = ../bar-service-kotlin-server.git
[submodule "bar-service-kotlin-client"]
	path = bar-service-kotlin-client
	url = ../bar-service-kotlin-client.git
[submodule "bar-service-infrastructure"]
	path = bar-service-infrastructure
	url = ../bar-service-infrastructure.git
