PRIMARY_EMAIL_ADDRESS=<your-email-address>
GITHUB_USER=<your-github-owner>
GITHUB_REPO=<your-github-repo>
GITHUB_BRANCH=<your-github-branch>
GITHUB_TOKEN=<your-github-oauth-token>
GITHUB_SSH_PRIVATE_KEY_BASE64=<your-base64-encoded-github-ssh-private-key>
GITHUB_SSH_PUBLIC_KEY="<your-github-ssh-public-key>"
